
.top-section {
  background-image: url('../../../assets/images/top-section-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
  padding-top: 30px;

  &__container {
    text-align: center;
  }
  
  &__logo-link {
    display: block;
    width: 148px;
    margin: 0 auto 40px;
  }

  &__logo-img {
    max-width: 100%;
  }

  &__text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 20px 25px 40px;
  }
  
  &__btn {
    margin-bottom: 30px;
  }

  &__pie-chart {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }

  &__scroll-icon {
    max-height: 55px;
    margin-top: 20px;
  }


  @media only screen and (min-width: 480px) {
    background-image: url('../../../assets/images/top-section-bg-mobile@2x.png');
  }

  @media only screen and (min-width: 768px) {
    background-image: url('../../../assets/images/top-section-bg.png');
    padding-top: 40px;

    .flex-container-wrapper {
      display: flex;
    }
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: calc(100vh - 80px);
      text-align: left;
      flex-basis: 100%;
    }

    &__logo-link {
      margin-left: 0;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -30px;
    }

    &__left-part, &__right-part {
      flex-basis: 48.75%;
    }

    &__title {
      text-align: left;
    }
    &__text {
      text-align: left;
      margin: 20px 0 30px;
      width: 50%;
    }

    &__pie-chart {
      width: 100%;
      margin: 0;
      margin-top: -45px;
    }
    
    &__scroll-icon {
      margin-top: -30px;
    }
  }

  @media only screen and (min-width: 1600px) {
    background-image: url('../../../assets/images/top-section-bg@2x.png')
  }
}