
.why-section {
  background-color: #FFFFFF;
  padding: 60px 0;
  
  &__text {
    margin: 20px 0 40px;
  }

  &__award-img {
    max-height: 100px;
    margin-bottom: -10px;
  }

  &__benefits-title {
    margin: 60px 0 40px;
  }

  @media only screen and (min-width: 768px) {
    padding: 80px 0;

    &__text {
      max-width: 760px;
      margin-left: auto;
      margin-right: auto;
    }

    &__award-img {
      margin-bottom: 0;
    }

    &__benefits {
      display: flex;
      justify-content: space-between;
    }
    &__benefit {
      flex-basis: 30%;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.benefit {
  text-align: center;
  padding: 40px 25px;

  &__icon {
    width: 30px;
    height: 31px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;

    &--clock {
      background-image: url('../../../assets/icons/clock-icon.svg');
    }
    &--book {
      background-image: url('../../../assets/icons/book-icon.png');
    }
    &--monitor {
      background-image: url('../../../assets/icons/monitor-icon.svg');
    }
    &--headphones {
      background-image: url('../../../assets/icons/headphones-icon.svg');
    }
    &--pie {
      background-image: url('../../../assets/icons/pie-icon.svg');
    }
    &--monitor-with-face {
      background-image: url('../../../assets/icons/monitor-with-face-icon.svg');
    }
  }

  &__title {
    color: #424559;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 20px 0;
  }
  
  &__desc {
    color: #424559;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
  }
}