@import './breakpoints.scss';
$bg-grey: #f7f7f7;
$font-grey: #4a4a4a;
$font-light-grey: #9b9b9b;

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  .left-block, .right-block {
    flex-basis: 50%;
    display: flex;
  }

  @include breakpoints(to1599) {
    margin: 0 90px;
  }
  @include breakpoints(to1199) {
    margin: 0 40px;
  }

  @include breakpoints(to767) {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    .left-block, .right-block {
      flex-basis: 80%;
    }
  }
  @include breakpoints(to479) {
    .left-block, .right-block {
      flex-basis: 100%;
    }
  }
}

.close-btn {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #9b9b9b;
  display: flex;
  &:hover {
    background-color: #eee;
  }
  svg {
    stroke: #9b9b9b;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 3px;
    width: 35px;
    margin: auto;
  }
}
