@import './breakpoints.scss';
$bg-grey: #f7f7f7;
$font-grey: #4a4a4a;
$font-light-grey: #9b9b9b;
$pink: #e96099;

.gallery-container {
  min-height: calc(100vh - 80px);
  height: calc(100vh - 80px);
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-image: radial-gradient(circle at 50% 50%, #ffffff, #f5f5f5);

  @include breakpoints(to1599) {
    margin: 0;
    max-width: inherit;
  }

  @include breakpoints(to767) {
    height: initial;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.title {
  margin: 20px 0;
  font-size: 36px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  
  @include breakpoints(to1599) {
    font-size: 20px;
    margin: 10px 0;
  }
  @include breakpoints(to767) {
    font-size: 36px;
  }
}

.desc {
  flex-basis: 25%;
  max-width: 25%;
  padding: 20px 10px 0;
  background-color: #fff;
  overflow: hidden;
  max-width: 500px;

  &__title {
    color: $pink;
  }
  &__mobile-title {
    display: none;
  }

  &__title-collapse-btn {
    @extend .title;
    width: 100%;
    text-align: start;
    margin: 0;
    color: $pink;
    position: relative;
    cursor: initial;
    &:focus {
      outline: none;
    }
    .collapse-icon {
      display: none;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 1.62;
    color: $font-grey;
  }

  &__logos {
    margin: 0 20px;
  }

  &__projects {
    margin-bottom: 30px;
  }

  &__contact-btn {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    margin-top: -100px;
  }

  @media only screen and (min-width: 768px) {
    &__collapse-container {
      display: block !important;
    }
  }

  @include breakpoints(to1599) {
    padding-top: 10px;
    &__text {
      font-size: 14px;
    }
  }

  @include breakpoints(to1199) {
    &__text {
      font-size: 12px;
    }
  }

  @include breakpoints(to767) {
    flex-basis: 100%;
    max-width: 100%;
    &__title {
      display: none;
    }
    &__mobile-title {
      display: block;
    }
    &__contact-btn {
      margin-left: auto;
      margin-right: auto;
    }

    &__collapse-container {
      max-height: 0;
      overflow: hidden;
      transition: max-height .6s ease-in-out;
    }

    &__title-collapse-btn {
      cursor: pointer;
      padding: 10px 40px 5px 10px;
      &:hover {
        background-color: $bg-grey;
      }
      &:focus {
        outline: -webkit-focus-ring-color auto 5px;
      }
      .collapse-icon {
        position: absolute;
        right: 10px;
        top: 15px;
        display: inline;
        transform: rotate(90deg) scale(1.3);
        fill: #757575;
      }
    }
    &__mobile-title.active {
      .collapse-icon {
        display: inline;
        transform: rotate(270deg) scale(1.3);
      }
    }
  }
}

.projects {
  &__title {
    color: $font-grey;
  }

  &__slider {
    padding: 0 20px;
    display: flex;
  }
  .slick-next {
    position: absolute;
    display: flex;
    top: calc(50% - 50px);
    right: 0;
    transform: translate(0, -50%);
  }
  .slick-prev {
    @extend .slick-next;
    right: initial;
    left: 0;
    transform: translate(0, -50%) rotate(180deg);
  }
  &__project {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    margin: 5px;
    position: relative;
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }

  &__project:hover &__tooltip {
    display: block;
  }

  .slick-track {
    margin-bottom: 100px;
  }

  @include breakpoints(768to1199) {
    &__project &__tooltip {
      padding: 10px 2px;
      font-size: 11px;
      max-width: 50px;
    }
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__img {
    flex-basis: 24%;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      filter: grayscale(100%);
    }

    &:hover img {
      filter: unset;
    }
  }

}

.contact-btn {
  width: 188px;
  height: 36px;
  border: solid 1px $pink;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  color: $pink;
  letter-spacing: 0.1px;
  cursor: pointer;
}

.model-3d {
  flex-basis: 65%;
  flex-grow: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  img {
    height: calc(100% - 150px);
    max-height: calc(100% - 150px);
    width: 100%;
    object-fit: contain;
  }

  @include breakpoints(to1599) {
    padding-top: 10px;
  }
  @include breakpoints(to767) {
    display: none;
  }
}

.models {
  padding-top: 10px;
  overflow-y: scroll;
  max-height: calc(100vh - 80px);
  height: calc(100vh - 80px);
  width: 150px;
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  &::-webkit-scrollbar { 
    display: none; 
  }
  &__model {
    width: 150px;
    height: 150px;
    max-height: 150px;
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
  }
  &__img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .slick-next {
    display: block;
    margin: 1px auto;
    svg {
      transform: rotate(90deg);
      height: 30px;
    }
  }
  .slick-prev {
    @extend .slick-next;
    svg {
      transform: rotate(-90deg);
    }
  }

  @include breakpoints(to1599) {
    width: 100px;
    &__model {
      width: 100px;
      height: 100px;
      max-height: 100px;
    }
  }
  @include breakpoints(to767) {
    display: none !important;
  }
}

.mobile-models {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  &__model {
    flex-basis: 50%;
    background: none;
    border: none;
    padding: 10px;
  }

  &__img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  @include breakpoints(to767) {
    display: flex;
  }
}


.tooltip {
  display: none;
  background-color: $font-grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  max-width: 110px;
  transform: translate(-50%, 0);
  word-wrap: break-word;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent $font-grey transparent;
  }
}

.tools {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  .icon-svg {
    fill: #9B9B9B;
  }

  &__btn {
    background: none;
    border: none;
    margin: 0 15px;
    cursor: pointer;
    transform: scale(1.3);
    display: flex;
  }

  @include breakpoints(to1599) {
    bottom: 10px;
  }
}

.fullscreen {
  opacity: 0;
  transition: opacity .3s ease-out;

  position: absolute;
  z-index: 1;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(circle at 50% 50%, #272727, #000000);
  display: none;
  flex-direction: column;
  justify-content: center;

  .slick-next {
    display: block;
    position: absolute;
    top: 50%;
    right: 15%;
    padding: 5px;
    z-index: 1;
    svg {
      height: 50px;
    }
  }
  .slick-prev {
    @extend .slick-next;
    right: initial;
    left: 15%;
    svg {
      transform: rotate(180deg);
    }
  }

  &__item:focus {
    outline: none;
  }
  &__img {
    height: calc(100vh - 280px);
    max-width: 100%;
    object-fit: contain;
    margin: auto;
  }

  &__close-btn {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 1.5px solid #9b9b9b;
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    &:hover {
      background-color: #565656;
    }
    svg {
      stroke: #9b9b9b;
      fill: transparent;
      stroke-linecap: round;
      stroke-width: 4px;
      width: 40px;
      margin: auto;
    }
  }

  @include breakpoints(to1599) {
    &__img {
      height: calc(100vh - 180px);
    }
    .slick-next, .slick-prev {
      svg {
        height: 35px;
      }
    }
  }
  @include breakpoints(to767) {
    &__close-btn {
      top: 10px;
      right: 10px;
    }

    .slick-next {
      right: 1px;
    }
    .slick-prev {
      left: 1px;
    }
  }
}
