@import './fonts.scss';
@import './breakpoints.scss';
@import './common.scss';
@import './header.scss';
@import './mobile-menu.scss';
@import './landing-page.scss';
@import './gallery-page.scss';
@import './projects.scss';

$bg-grey: #f7f7f7;
$font-grey: #4a4a4a;
$font-light-grey: #9b9b9b;
body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: $font-grey;
  position: relative;
}

button:focus, a:focus {
  outline: 1px solid rgb(227, 228, 228);
}
button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}